<!-- splash image -->
<img src="http://i.imgur.com/CCzMxoe.jpg" class="img-responsive  featured-photo" >

  <article class="main">
    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="content-panel-title">
            <!-- what we do section -->
            <h2>What we do?</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="content-panel">
            <!-- what we do info -->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>





      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="content-panel">
            <!-- featured section details -->
              <a href="#/featured"><img class="content-image" src="http://www.lightexplorers.net/koken/storage/cache/images/001/194/DSC5568,xlarge.1442321700.jpg" alt="" /></a>
                <h3>Featured</h3>
                            
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#/featured">Find Out More..</a>
          </div>
        </div>
                    
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="content-panel">
          <!-- product studio details -->
          <a href="#/product"><img class="content-image" src="http://www.lightexplorers.net/koken/storage/cache/images/001/021/DSC3678,huge.1435704899.jpg" alt="" /></a>
            <h3>Product Studio</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/product">Find Out More..</a>
        </div>
      </div>
                    
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="content-panel">
          <!-- magazine  -->
            <a href="#/magazine"><img class="content-image" src="http://www.lightexplorers.net/koken/storage/cache/images/001/070/DSC3229,xlarge.1435833053.jpg" alt="" /></a>
              <h3>Magazine</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/magazine">Find Out More..</a>
        </div>
      </div>
    </div>
                


    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="content-panel-title">
          <!-- our work section -->
            <h2>Our work</h2>
        </div>
      </div>
                    
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="content-panel">
          <!-- info about our work -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>



    
      <div class="container">
        <br></br>
        <br></br>   
          <!-- services section -->
          <div class="row row-padded homepage-grid p-t text-center">
            <div class="col-sm-4 col-xs-6">
              <a href="#/portrait"><img class="homepage-grid-icon" src="img/icons/Camera-Front.svg"></a>
              <h5><strong>Portrait Photography</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/portrait">Find Out More..</a>
            </div>

            <div class="col-sm-4  col-xs-6">
              <a href="#/landscape"><img class="homepage-grid-icon" src="img/icons/Images.svg"></a>
              <h5><strong>Landscape Photography</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/landscape">Find Out More..</a>
            </div>


            <div class="col-sm-4 col-xs-6">
              <a href="#/product"><img class="homepage-grid-icon" src="img/icons/Images-Cloud.svg"></a>
              <h5><strong>Product photography</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/product">Find Out More..</a>
            </div>
  

  
          <br></br>


  
            <div class="col-sm-4 col-xs-6">
              <a href="#/events"><img class="homepage-grid-icon" src="img/icons/Party-Poppers.svg"></a>
              <h5><strong>Events</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/events">Find Out More..</a>
            </div>

            <div class="col-sm-4 col-xs-6">
              <a href="#/personal-portfolio"><img class="homepage-grid-icon" src="img/icons/Captain-Shield.svg"></a>
              <h5><strong>Personal Portfolio</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/personal-portfolio">Find Out More..</a>
            </div>

            <div class="col-sm-4 col-xs-6">
              <a href="#/web-design"><img class="homepage-grid-icon" src="img/icons/Coding-Html.svg"></a>
              <h5><strong>Web design</strong></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#/web-design">Find Out More..</a>
            </div>
        </div>
      </div>    
    




                
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="content-panel-title">
            <!-- clients section -->
            <h2>Clients</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="content-panel">
            <!-- info about client -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            illum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
               
    </section>
  </article>





