<!-- splash image -->
<img src="http://i.imgur.com/dNydDS6.jpg" class="img-responsive featured-photo">


<article class="main">
    <div class="container">
	<br></br>
	<br></br>

	   <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                <!-- magazine section -->
                    <h2>Magazine</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                <!-- magazine info -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>

	

    <!-- links to the magazines -->
    <div class="row">
        <div class="col-xs-12"><a href="https://slate.adobe.com/cp/baKNu/"><img src="img/magthumbs/spring2016.jpg" class="img-responsive img-thumbnail"></a></div>
    </div>

    <div class="row">
        <div class="col-xs-4"><a href="https://slate.adobe.com/cp/REOJr/"><img src="img/magthumbs/winter2015.jpg" class="img-responsive img-thumbnail"></a></div>
        <div class="col-xs-4"><a href="https://slate.adobe.com/cp/njoES/"><img src="img/magthumbs/autumn2015.jpg" class="img-responsive img-thumbnail"></a></div>
        <div class="col-xs-4"><a href="https://slate.adobe.com/cp/YLQje/"><img src="img/magthumbs/summer2015.jpg" class="img-responsive img-thumbnail"></a></div>
        
    </div>


<br></br>
<br></br>


    <div class="btn-lg active">
        <div class=" col-xs-12">
            <a href="#/contact"><button style="width:100%; height: 70px">Contact Us</button></a>
        </div>
    </div>
 </div>
</article>


<br></br>
<br></br>



