<!-- splash image -->
<img src="img/LightExplorersLogo.png" class="img-responsive  featured-photo" >

<article class="main">
    <div class="container">
    <br></br>
    <br></br>
       <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <!-- landscapes heading -->
                    <h2>Product Studio</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <!-- landscapes info section -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
   
        
        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- images in products -->
        <div class="row">
          <div id="links">
            <div class=" col-xs-12">
                <a href="http://www.lightexplorers.net/koken/storage/cache/images/001/021/DSC3678,huge.1435704899.jpg" data-gallery>
                  <!-- Laura Skater -->
                     <img src="http://www.lightexplorers.net/koken/storage/cache/images/001/021/DSC3678,huge.1435704899.jpg" class="thumbnail img-responsive">
                </a>
            </div>
             <div class="col-xs-6">
                <a href="http://lightexplorers.net/koken/storage/cache/images/001/025/DSC3686,xlarge.1435705129.jpg" data-gallery>
                  <!-- Rachel Imma Jump -->
                    <img src="http://lightexplorers.net/koken/storage/cache/images/001/025/DSC3686,xlarge.1435705129.jpg" class="thumbnail img-responsive">
                </a>
            </div>
             <div class="col-xs-6">
                <a href="http://www.lightexplorers.net/koken/storage/cache/images/001/024/DSC3684,xlarge.1435705093.jpg" data-gallery>
                  <!-- Rachel Imma Jump -->
                    <img src="http://www.lightexplorers.net/koken/storage/cache/images/001/024/DSC3684,xlarge.1435705093.jpg" class="thumbnail img-responsive">
                </a>
            </div>
             <div class=" col-xs-12">
                <a href="http://www.lightexplorers.net/koken/storage/cache/images/001/029/DSC3697,xlarge.1435705401.jpg" data-gallery>
                  <!-- Sky Hill -->
                     <img src="http://www.lightexplorers.net/koken/storage/cache/images/001/029/DSC3697,xlarge.1435705401.jpg" class="thumbnail img-responsive">
                </a>
            </div>
            <div class="col-xs-6">
                <a href="http://www.lightexplorers.net/koken/storage/cache/images/001/028/DSC3691,xlarge.1435705318.jpg" data-gallery>
                  <!-- Rachel Imma Jump -->
                    <img src="http://www.lightexplorers.net/koken/storage/cache/images/001/028/DSC3691,xlarge.1435705318.jpg" class="thumbnail img-responsive">
                </a>
            </div>
             <div class="col-xs-6">
                <a href="http://lightexplorers.net/koken/storage/cache/images/001/030/DSC3698,xlarge.1435705480.jpg" data-gallery>
                  <!-- Rachel Imma Jump -->
                    <img src="http://lightexplorers.net/koken/storage/cache/images/001/030/DSC3698,xlarge.1435705480.jpg" class="thumbnail img-responsive">
                </a>
            </div>
          </div>
        </div>

    <!-- button at bottom -->
    <div class="btn-lg active">
    <div class=" col-xs-6">
        <a href="#/services"><button style="width:100%; height: 70px">Back to Services</button></a>
    </div>
    <div class=" col-xs-6">
        <a href="#/contact"><button style="width:100%; height: 70px">Contact Us</button></a>
    </div>

    <br></br>
</div>
</div>
</article>


<br></br>
<br></br>

















